*.o
*.d
*.swp
*.*-bak
_autosave-*
*.bck
*.net
*.pdf
*.jpg
*.zip
*.eep
*.hex
*.map
fw/nixiedisp
nixiedisp-gui/moc_*.cpp
nixiedisp-gui/moc_*.h
nixiedisp-gui/nixiedisp-gui
.qmake.stash
nixiedisp-gui/ui_*.h
nixiedisp-gui/Makefile
